#fade {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
 
#light {
	display: none;
	position: fixed;
	top: 100px;
	left: 100px;
	width: 400px;
	height: 450px;
	padding: 16px 16px 16px 500px;
	border: 8px solid blue;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

/************************** Common **********************/

.key {
	display: inline-block;
	width: 70px;
}

.value {
	font-weight: bold;
}

/**************** Thumbs *******************/

.doc {
	/* Background gradient from http://ie.microsoft.com/testdrive/graphics/cssgradientbackgroundmaker/default.html */ 
	background-image: -ms-linear-gradient(left, #ECECEC 0%, #E2E2E2 100%);
	background-image: -moz-linear-gradient(left, #ECECEC 0%, #E2E2E2 100%);
	background-image: -o-linear-gradient(left, #ECECEC 0%, #E2E2E2 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ECECEC), color-stop(1, #E2E2E2));
	background-image: -webkit-linear-gradient(left, #ECECEC 0%, #E2E2E2 100%);
	background-image: linear-gradient(to right, #ECECEC 0%, #E2E2E2 100%);

	padding: 10px 20px;
	border: 2px #fff solid;
	border-radius: 20px;
	margin: 10px;
	display: inline-block;
	width: 450px;
	cursor: pointer;
}

.thumb {
	display: inline-block;
	height: 135px;
	float: right;
}

.doc ul {
	padding: 0px;
	margin: 3px;
}

.doc li {
	display: inline-block;
	color: #fff;
	background-color: #707070;
	margin: 2px;
	padding: 5px;
	border-radius: 5px;
}

#tag-filter {
	margin: 5px 0px;
}

.tag {
	border: 2px #707070 solid;
	border-radius: 5px;
	margin: 2px;
	cursor: pointer;
}

.tag.selected {
	color: #fff;
	background-color: #707070;
}

/********************** Full image **************************/

#full-image-viewport {
	position: absolute;
	top: 30px;
	left: 30px;
	height: 400px;
	width: 400px;
	overflow: hidden;
	border: solid thin black;
}
#full-image {
	position: relative;
	cursor: move;
}
