/worker/.classpath
/worker/.project
/worker/.settings
/worker/target
/worker/*.launch
/couchapp/.couchapprc

# Ignore unused files from various distributions
/couchapp/_attachments/vendor/angular-1.2.10/*
/couchapp/_attachments/vendor/jasmine-2.0.0/*
