<configuration scan="true" scanPeriod="30 seconds">
	<!-- Uncomment this appender and the entry at the bottom to add file loggging. -->
	<!-- <appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>filecabinet.log</file>
		<append>true</append>
		<encoder><pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern></encoder>
	</appender> -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder><pattern>%d %-5level [%thread] %logger{35} - %msg%n</pattern></encoder>
	</appender>

	<!-- Levels are OFF, ERROR, WARN, INFO, DEBUG, TRACE, ALL -->
	<logger name="org.eclipse.jetty" level="WARN"/>
	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
		<!-- <appender-ref ref="FILE" /> -->
	</root>
</configuration>
