<a class="doc" href="#/doc/{{ doc._id }}">
    <img class="thumb" ng-show="doc.thumbnail" ng-src="{{ thumbUrl() }}"/>
    <div class="thumb" ng-hide="doc.thumbnail">No thumb</div>
    <dl><dt>Filename</dt><dd class="filename">{{ doc.raw }}</dd></dl>
    <dl><dt>Uploaded</dt><dd>{{ doc.uploaded |date }}</dd></dl>
    <dl><dt>Effective</dt><dd>{{ doc.effective |date }}</dd></dl>
    <div>
        <span ng-repeat="tag in doc.tags">
            <span class="label label-default">{{ tag }}</span>
        </span>
    </div>
</a>
