<div class="container">
<div class="row">
    <div class="col-md-6">
        <form role="form">
            <div class="form-group">
                <label>Filename</label>
                <p class="form-control-static"><a href="{{ attachmentUrl(doc._id, doc.raw) }}" target="_blank">{{ doc.raw }}</a></p>
            </div>
            <div class="form-group">
                <label>Uploaded</label>
                <p class="form-control-static">{{ doc.uploaded |date: "yyyy-MM-dd" }}</p>
            </div>
            <div class="form-group">
                <label>Effective</label>
                <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="doc.effective" close-text="Close" />
            </div>
            <div class="form-group">
                <label>Tags</label>
                <tags-input ng-model="doc.tags" placeholder="Add tags">
                    <auto-complete source="loadTags($query)" min-length="1" debounce-delay="1"></auto-complete>
                </tags-input>
            </div>
            <div class="form-group">
                <label>Seen</label>
                <p class="form-control-static" ng-click="doc.seen = !doc.seen">{{ doc.seen || "false" }}</p>
            </div>
            <div class="form-group">
                <label>Processed</label>
                <p class="form-control-static" ng-click="doc.processed = !doc.processed">{{ doc.processed || "false" }}</p>
            </div>
            <div class="form-group">
                <button ng-click="doc.$save()">Save</button>
            </div>
        </form>
    </div>
    <div id="thumbnail" class="col-md-6">
        <ul>
            <li ng-click="doc.thumbnail = null">No thumbnail</li>
            <li ng-repeat="thumb in doc.thumbs()" ng-click="doc.thumbnail = thumb">{{ thumb }}</li>
        </ul>
        <div id="full-image-viewport" ng-show="doc.thumbnail">
            <img id="full-image" ng-src="{{ attachmentUrl(doc._id, doc.thumbnail) }}" draggable/>
        </div>
    </div>
</div>
</div>
