<div id="tags">
    <span ng-repeat="tag in tags |orderBy:'name'">
        <span class="label"
              ng-class="{ 'label-default': !tag.show, 'label-primary': tag.show }"
              ng-click="tag.show = !tag.show">
            {{ tag.name || "[untagged]" }}
        </span>
    </span>

    <br/>
    <span class="label label-primary" ng-click="showAllTags(true)">All</span>
    <span class="label label-default" ng-click="showAllTags(false)">None</span>
    <span class="label label-default" ng-click="newestFirst = !newestFirst">
        <span ng-show="newestFirst">Newest first</span>
        <span ng-hide="newestFirst">Oldest first</span>
    </span>
</div>
<div>
    <span ng-repeat="doc in docs |orderBy:'effective':newestFirst">
        <doc-card doc="doc"></doc-card>
    </span>
</div>
