<div id="tags">
    <span ng-repeat="tag in tags |orderBy:'name'">
        <span class="label label-toggle"
              ng-class="{ 'label-default': !tag.show, 'label-primary': tag.show }"
              ng-click="tag.show = !tag.show">
            {{ tag.name || "[untagged]" }}
        </span>
    </span>

    <br/>
    <span class="label label-toggle label-primary" ng-click="showAllTags(true)">All</span>
    <span class="label label-toggle label-default" ng-click="showAllTags(false)">None</span>
    <span class="label label-toggle label-default" ng-click="newestFirst = !newestFirst">
        <span ng-show="newestFirst">Showing newest first</span>
        <span ng-hide="newestFirst">Showing oldest first</span>
    </span>
</div>
<div class="doc-list">
    <doc-card ng-repeat="doc in docs |orderBy:'effective':newestFirst" doc="doc"></doc-card>
</div>
