<div id="tag-filter">
    <span ng-repeat="tag in tags">
        <span class="tag" ng-class="{selected: tag.show}" ng-click="tag.show = !tag.show">{{ tag.name }}</span>
    </span>
</div>
<div>
    <span id="tag-filter-all" class="tag selected" ng-click="showAllTags(true)">All</span>
    <span id="tag-filter-none" class="tag" ng-click="showAllTags(false)">None</span>
    <span id="tag-filter-from" class="tag">Effective from <input type="text" size="10"/></span>
    <span id="tag-filter-to" class="tag">Effective to <input type="text" size="10"/></span>
    <span id="tag-sort-order" class="tag">Newest first</span>
    <span id="archive-download-link" class="tag">
        Download files with pattern
        <input type="text" size="15" value="%y-%m-%d-%t.pdf">
    </span>
    <b>%y</b>ear,
    <b>%m</b>onth,
    <b>%d</b>ay,
    <b>%t</b>ags
</div>
<div>
    <span ng-repeat="doc in docs">
        <doc-card doc="doc"></doc-card>
    </span>
</div>
