Select files: <input type="file" ng-file-select="onFileSelect($files)" multiple>

<div ng-file-drop="onFileSelect($files)" class="drop-box" ng-show="dropSupported">or drop files here</div>
<div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 drag-n-drop not supported!</div>

<ul>
	<li ng-repeat="upload in uploads">
		<span ng-hide="upload.id">{{ upload.status }}</span>
		<a href="#/doc/{{ upload.id }}" ng-show="upload.id">{{ upload.status }}</a>
		<span ng-show="upload.attachmentUpload">
			Progress: {{ upload.progress }}% <button ng-click="upload.attachmentUpload.abort()">Cancel</button>
		</span>
	</li>
</ul>

