/* Fix a gap in ui-bootstrap's styling */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
	min-height: 2000px;
	padding-top: 70px;
}

/********************************/

.key {
	display: inline-block;
	width: 70px;
}

.value {
	font-weight: bold;
}

/**************** Thumbs *******************/

.doc {
	background: rgba(226,226,226,1);
	padding: 10px 20px;
	border: 2px #fff solid;
	border-radius: 20px;
	margin: 10px;
	display: inline-block;
	width: 450px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.thumb {
	display: inline-block;
	float: right;
	text-align: center;
}

.thumb > img {
	height: 135px;
}

.thumb > a {
	color: #000;
	font-size: small;
}

.doc .filename {
	overflow: hidden;
	white-space: nowrap;
	width: 340px;
	position: relative;
}

.doc .filename:after {
	content: "";
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
	background: -moz-linear-gradient(left, rgba(226,226,226,0) 0%, rgba(226,226,226,1) 100%);
	background: -webkit-linear-gradient(left, rgba(226,226,226,0) 0%, rgba(226,226,226,1) 100%);
	background: -o-linear-gradient(left, rgba(226,226,226,0) 0%, rgba(226,226,226,1) 100%);
	background: -ms-linear-gradient(left, rgba(226,226,226,0) 0%, rgba(226,226,226,1) 100%);
	background: linear-gradient(left, rgba(226,226,226,0) 0%, rgba(226,226,226,1) 100%);
}

.doc ul {
	padding: 0px;
	margin: 3px;
}

.doc li {
	display: inline-block;
	color: #fff;
	background-color: #707070;
	margin: 2px;
	padding: 5px;
	border-radius: 5px;
}

#tag-filter {
	margin: 5px 0px;
}

.tag {
	border: 2px #707070 solid;
	border-radius: 5px;
	margin: 2px;
	cursor: pointer;
	padding: 2px;
}

.tag.selected {
	color: #fff;
	background-color: #707070;
}

/* Draggable thumbnail **********************************************/

#properties {
    width: 400px;
    display: inline-block;
    vertical-align: top;
}
#thumbnail {
    width: 400px;
    display: inline-block;
}
#full-image-viewport {
    height: 400px;
    width: 400px;
    overflow: hidden;
    border: solid thin black;
}
#full-image {
    position: relative;
    cursor: move;
}

/* Drag and drop upload *****************************************/
.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	border-radius: 7px;
	width: 300px;
	height: 200px;
	text-align: center;
	padding-top: 50px;
	font-size: 18pt;
	font-weight: bold;
}

.drop-box.dragover {
	border: 5px dashed blue;
}
