/* Fix a gap in ui-bootstrap's styling */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
    min-height: 2000px;
    padding-top: 70px;
}

/* Fix tag filters on index page */
#tags span.label {
    font-size: 100%;
    line-height: 2;
    margin: 2px;
}

.label-toggle {
    cursor: pointer;
}

/* Doc card *******************/

.doc-list {
    vertical-align: top;
}

.doc {
    background: rgba(226,226,226,1);
    padding: 10px 20px;
    border: 2px #fff solid;
    border-radius: 20px;
    margin: 10px;
    display: inline-block;
    width: 350px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.doc:hover {
    text-decoration: none;
}

.thumb {
    display: inline-block;
    float: right;
    text-align: center;
    padding-top: 5px;
    width: 100px;
}

.doc dl {
    margin-bottom: 10px;
}

.filename {
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
    position: relative;
}

.filename:after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    background: -moz-linear-gradient(left, rgba(226,226,226,0) 0%, rgba(226,226,226,1) 100%);
    background: -webkit-linear-gradient(left, rgba(226,226,226,0) 0%, rgba(226,226,226,1) 100%);
    background: -o-linear-gradient(left, rgba(226,226,226,0) 0%, rgba(226,226,226,1) 100%);
    background: -ms-linear-gradient(left, rgba(226,226,226,0) 0%, rgba(226,226,226,1) 100%);
    background: linear-gradient(left, rgba(226,226,226,0) 0%, rgba(226,226,226,1) 100%);
}

/* Draggable thumbnail **********************************************/

#properties {
    width: 400px;
    display: inline-block;
    vertical-align: top;
}
#thumbnail {
    width: 400px;
    display: inline-block;
}
#full-image-viewport {
    height: 400px;
    width: 400px;
    overflow: hidden;
    border: solid thin black;
}
#full-image {
    position: relative;
    cursor: move;
}

/* Drag and drop upload *****************************************/
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    border-radius: 7px;
    width: 300px;
    height: 200px;
    text-align: center;
    padding-top: 50px;
    font-size: 18pt;
    font-weight: bold;
}

.drop-box.dragover {
    border: 5px dashed blue;
}
